   /*
   — Does not break flow
   — Does not ignore offset properties
   — Won’t be repositioned if no offset properties are set
   — Offset from its location in the DOM tree
   */

* {
   margin: 0;
   padding: 0;
}

h1,
p {
   margin: 16px 0;
   text-align: center;
   font-family: Lato, sans-serif;
}

img {
   display: inline-block;
   position: relative;
   width: 250px;
   line-height: 0;
   filter: grayscale(.8);
   transition: 350ms;
}

img:nth-child(1) {
   top: 0;
   left: 0;
}

img:nth-child(2) {
   top: 50px;
   left: -50px;
}

img:nth-child(3) {
   top: 100px;
   left: -100px;
}

img:nth-child(4) {
   top: 150px;
   left: -150px;
}

img:hover {
   box-shadow: 8px 8px 20px;
   filter: none;
   z-index: 1;
}
